*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  * > h2 {
    margin-bottom: 17px;
  }

  body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 16px;
    background-color: #171717;
    color: #dadada;
  }

  /* Navbar section start*/

  .navbar {
    padding: 17px;
    margin: 7px 17px;
  }

  .navbar a {
    color: #FF7700;
    text-decoration: none;
    
  }

  .navbar a:hover {
    color: rgba(255,128,0,70%);
    text-shadow: 0px 0px 17px #000;
  }

  .navbar li:nth-child(1):hover {
    font-weight: bold;
  }

  .navbar ul {
    display: flex;
    gap: 7px;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    list-style-type: none;
  }

  /* Navbar section end*/

  section{
    display: flex;
    justify-content: center;
    padding: 7px;
    margin: 17px;
  }


  /* Testing iFrame and Video element, to see which is better for me.
  Also checking to see how to stylize it better. Haven't done many changes
  just added the new section and divs to youtube videos section, with some
  videos, and some classes */

  .section-youtube-videos, .section-comparison-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .yt-aspect-ratio {
    aspect-ratio: 16/9;  
  }

  .container-youtube-videos, .container-comparison-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
  }

  .original-edit-div, .my-edit-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }

  .original-edit, .my-edit, .container-youtube-videos > iframe {
    max-width: 420px;
    min-width: 370px;
    flex: 1 1 auto;
    border-radius: 7px;
    box-shadow: 0px 0px 17px black;
  }
